html {
  height: 100%;
  font-family: sans-serif;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
}

#timer {
  background-color: limegreen;
  height: 100%;
  width: 100%;
  padding: 5%;
}

#timer tr,
#timer td {
  background-color: black;
  color: limegreen;
  text-align: center;
  font-size: 72pt;
}
